*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #a788ab;
    font-family: monospace;
}



h1{
    color: rgb(255, 255, 255);
    background-color: #dfcae1;
    text-align: center;
    padding-left: 30px;
    padding-top: 30px;
    vertical-align: middle;
    font-size: 70px;
    text-shadow: 6px 7px 8px #c0a0c3;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;

}

strong{
    color: #000;
    font-size: 17px;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(5, auto);}





.párrafo{
    background-color: white;
    border-radius: 6px;
    background-position: right;
    float: right;
    font-size: 100%;
    text-justify: distribute;
}

    /*imagen*/
.mujercitas{
    width: 18%;
    height: 30%;
        
}







ul,ol{
    list-style: none;
 }


 .opciones{
    text-decoration: none;
    background: #a788ab;
    color: white;
    border: 5px solid;
    border-color: #e0d2e2 #dfcae1 #c0a0c3 #a788ab;
    display: inline-block;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.opciones:hover{
    background: rgb(243, 208, 252);
    border: 2px solid rgb(255, 252, 252);
    
}

nav ul li a:hover{
    background: rgb(178, 137, 189);
    border: 3px double rgb(148, 86, 160);
    padding-bottom: 10px;

}

.menu li a{
    background-color: #c59fcb;
    color: white;
    width: 180px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 10px;
    display: block;
    height: 35px;
    text-align: center;
      
}

nav > li{
    float: left;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover >ul{
    display: block;
}

.menu li ul li {
    position: relative;
}


a:hover {
   background-position: bottom;}